.group-card-container{
	/* width: 200px; */
	display: inline-flex;
}

#img-container{
	width: 200px;
}

.group-names{
	font-family: serif;
	padding: 10px;
	background-color: lightblue;
}
.group-cards{
	margin: 1rem;
}