#input-row{
	/* margin-top: 10rem;	 */
	/* background: url(../../images/quote.jpg); */
	/* background-color:  */
	height: 20em;
}

#main-logins-container{
	width: 100%;
	background-color: rgb(16, 101, 134);
	padding-bottom: 420px;
}

#input-row{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.headers{ 
	/* margin-top: 1rem; */
	/* background-color: rgba(121, 112, 112, 0.5); */
	color: white;
	border-radius: 5px;
	/* padding: .5rem; */
	display: block;
 }

#login-btn{
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#color2, #color3{
	box-shadow: inset 0px 0px 8px 2px black;
	background-color: rgb(43, 68, 138);
}


#description-div {
	font-size: 1em;
	font-family: 'Times New Roman', Times, serif
}

#title-div2 {
	font-size: 2em;
	font-family: cursive;
	border-radius: 5px;
	background-color: rgb(43, 68, 138);
}

#input-form-div{
	box-shadow: 0px 0px 8px 2px black;
	background-color: rgb(87, 207, 197);
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}