#input-row{
	/* margin-top: 10rem;	 */
	background: url(../../images/quote.jpg);
	height: 20em;
}

#container{
	width: 100%;
}

#input-row{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.headers{ 
	/* margin-top: 1rem; */
	/* background-color: rgba(121, 112, 112, 0.5); */
	color: white;
	border-radius: 5px;
	/* padding: .5rem; */
	display: block;
 }

#login-btn{
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#color2 {
	/* background: rgb(226, 225, 225) */
}

#description-div {
	font-size: 1em;
	font-family: 'Times New Roman', Times, serif
}

#title-div {
	font-size: 2em;
	font-family: cursive;
	border-radius: 5px
}
