#navbar-div{
	display: inline;
}

.home-buttons{
	margin-left: 1rem;
}
#create-acct-btn{
	margin-left: 1rem;
}
#logo{	
	font-size: 25px;	
	font-family: cursive;
}
.nav-link{
	font-family: cursive;
}
@media (min-width: 650px){
.navbar-expand-lg .navbar-collapse{
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}}
@media (min-width: 300px){
	.navbar-expand-lg .navbar-collapse{
		display: -ms-flexbox!important;
		display: flex!important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}}