.info-div{
	background-color: rgb(87, 207, 197);
	border-radius: 5px;
	box-shadow: 0px 0px 8px 2px black;
}

.pretty-div{
	background-color: rgb(87, 207, 197);
	padding: 1rem;
}

#comment-container{
	max-height: 525px;
	overflow: scroll;
	box-shadow: 0px 0px 8px 2px black;
}

#main-group-container{
	background-color: rgb(43, 68, 138);
	box-shadow: inset 0px 0px 8px 2px black;
	overflow: hidden;
}
#group-pic-temp-text{
	margin: 0;
}