#carousel-div{
	margin-top: 2rem;
	padding: 0;
}

.carousel-item{
	height: 500px;
}

#color {
	background: #DEF2F1;
}

.darker {
	background: gray;
	color: white;
	
}

.darker2 {
	background:red;
	color: white;
	margin: auto;
}

