#carousel-div{
	margin-top: 2rem;
	padding: 0;
}

.carousel-item{
	height: 500px;
}

#color {
	background: #DEF2F1;
}

.darker {
	background: rgb(80, 78, 78);
	color: white;
	
}

.darker2 {
	background:rgb(2, 2, 2);
	color: white;
	margin: auto;
}

