#profile-pic-div, #joined-groups-div, #created-groups-div, #user-info-div{
	background-color: rgb(87, 207, 197);
	border-radius: 5px;
	box-shadow: 0px 0px 8px 1px black;
}

#edit-btn-div, #settings-div{
	background-color: rgb(87, 207, 197);
}

#profile-pic-img{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
}

#personal-info-tag{
	margin: 1rem;
}

#edit-btn{
	float: right;
	margin: 0.5rem;
}

#edit-row{
	margin-top: 0;
}

#main-manage-div{
	background-color: rgb(43, 68, 138);
	padding-bottom: 67px;
}

.top {
	margin-top: 5rem;
}

#groups-title-text{
	margin-top: 0.5rem;
}

#main-manage-row{
	width: 100%;
}

#joined-groups-row{
	width: 100%;
}