#input-row{
	margin-top: 5rem;
	/* background: url("../../images/pencil.jpg"); */
}

/* .headers{
	margin-top: 1rem; 
	
} */

#signup-btn{
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

#color2 {
	background: rgb(226, 225, 225)
}

#description-div {
	font-size: 1em;
	font-family: 'Times New Roman', Times, serif
}
p{
	font-size: 25px;
}

#title-div {
	font-size: 2em;
	font-family: cursive;
	border-radius: 5px
}

/* Rainbow is pretty, but this should be changed to better suit some theme */
/* html, #root{
	background: linear-gradient(
		to right,
		rgba(255, 0, 0, 0.8),
		rgba(255, 166, 0, 0.8),
		rgba(255, 255, 0, 0.8),
		rgba(0, 128, 0, 0.8),
		rgba(0, 0, 255, 0.8),
		rgba(76, 0, 130, 0.8),
		rgba(238, 130, 238, 0.8));
} */
